In [66]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
property = pd.read_csv('~/Desktop/pythonexplore/BurlingtonPropertyDetails.csv')
list(property)

['ParcelID',
 'AccountNumber',
 'SpanNumber',
 'StreetNumber',
 'CuO1LastName',
 'CuO1FirstName',
 'LandUse',
 'CurrentAcres',
 'TotalGrossArea',
 'FinishedArea',
 'CurrentValue',
 'CurrentLandValue',
 'CurrentYardItemsValue',
 'CurrentBuildingValue',
 'BuildingType',
 'HeatFuel',
 'HeatType',
 'Grade',
 'YearBlt',
 'SaleDate',
 'SalePrice',
 'NumofRooms',
 'NumofBedrooms',
 'Bath1',
 'Bath2',
 'NumofUnits',
 'ZoningCode',
 'Foundation',
 'Depreciation',
 'PropertyCenterPoint']

Data analysis packages in Python

For data analysis in Python, we recommend several packages (all included in the Spyder platform):
NumPy: the fundamental package for scientific computing
matplotlib: the most popular Python library for producing plots and other 2D data visualizations
pandas: a library providing high-performance, easy-to-use data structures and data analysis tools
SciPy: a collection of packages addressing a number of different standard problem domains in scientific computing
sklearn: machine learning in Python

replacing vaues with NaN
Suppose the letter included is 'g':
In[8]: cchs = pd.read_csv("cchs2012.csv", header=0, na_values=['g'])
 
If the data contains missing data indicated by 'NA', you can read the data in as follows:
In[9]: cchs = pd.read_csv("cchs2012.csv", header=0, na_values=['NA'])

In [67]:
property.shape

(9510, 30)

Number of Rows and Columns

In [68]:
sub1property = property[:50]
sub1property.shape

(50, 30)

cut just the first # of rows

In [8]:
sub2property = property[100:]
sub2property.shape

(9410, 30)

cut all remaining rows past # rows

In [69]:
property.describe()

C:\Users\kefor\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,AccountNumber,CurrentAcres,TotalGrossArea,FinishedArea,CurrentValue,CurrentLandValue,CurrentYardItemsValue,CurrentBuildingValue,YearBlt,SalePrice,NumofRooms,NumofBedrooms,Bath1,Bath2,NumofUnits,Depreciation
count,9510.000000,9510.000000,9510.000000,9510.000000,9.510000e+03,9.510000e+03,9510.000000,9.510000e+03,9477.000000,4.364000e+03,9510.000000,9510.000000,9510.000000,9510.000000,9510.000000,9510.000000
mean,5486.450578,0.197631,3870.649632,2127.523012,2.951548e+05,1.033471e+05,717.649947,1.910900e+05,1946.457423,3.068266e+05,7.590641,3.641009,1.951840,0.402103,1.815878,0.216284
std,3267.913996,0.636292,7873.085913,5721.981380,4.159227e+05,1.539382e+05,6906.580018,3.576276e+05,35.980847,3.070474e+05,9.324009,7.001408,2.917774,0.880871,8.098683,0.109834
min,5.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,1800.000000,2.500000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,-0.030000
25%,2537.250000,0.050000,2382.000000,1188.000000,1.920000e+05,5.731750e+04,0.000000,1.180000e+05,NaN,NaN,5.000000,2.000000,1.000000,0.000000,1.000000,0.130000
50%,5484.000000,0.150000,3138.000000,1580.500000,2.322000e+05,8.900000e+04,0.000000,1.485000e+05,NaN,NaN,6.000000,3.000000,2.000000,0.000000,1.000000,0.240000
75%,8458.750000,0.230000,4176.750000,2168.000000,3.173750e+05,1.334000e+05,100.000000,2.053000e+05,NaN,NaN,8.000000,4.000000,2.000000,1.000000,1.000000,0.300000
max,11224.000000,28.660000,510264.000000,336289.000000,2.482000e+07,6.225700e+06,388400.000000,2.482000e+07,2015.000000,1.440000e+07,605.000000,605.000000,144.000000,30.000000,605.000000,1.000000

In [65]:
property[pd.isnull(property['LandUse'])]
property

,ParcelID,AccountNumber,SpanNumber,StreetNumber,CuO1LastName,CuO1FirstName,LandUse,CurrentAcres,TotalGrossArea,FinishedArea,...,SalePrice,NumofRooms,NumofBedrooms,Bath1,Bath2,NumofUnits,ZoningCode,Foundation,Depreciation,PropertyCenterPoint
0,046-1-013-000,6416,114-035-16416,184,BRACE,WILLIAM H,2 Family,0.34,"(3000, 4000]","(1580.5, 2168]",...,NaN,10,4,2,0,2,NACR,BS,0.30,"(-73.191, 44.48612)"
1,054-2-013-000,8950,114-035-18950,36,"DOMINIC PROPERTIES, LLC",NaN,2 Family,0.13,"(2000, 3000]","(1188, 1580.5]",...,327000.0,8,4,2,0,2,RL,BS,0.25,"(-73.2074, 44.46423)"
2,021-2-080-000,147,114-035-10147,21,LYON,CASEY J D ET LA,2 Family,0.44,"(3000, 4000]","(1188, 1580.5]",...,159500.0,8,4,2,0,2,RL,C,0.30,"(-73.2681, 44.52544)"
3,049-3-059-000,7285,114-035-17285,214,CARPENTER,CATHERINE R,2 Family,0.08,"(4000, 6000000]","(2168, 336289]",...,NaN,10,3,2,0,2,RH,BS,0.40,"(-73.2106, 44.47399)"
4,046-2-001-000,6667,114-035-16667,106,ALSTON,W KEMPER,2 Family,0.26,"(4000, 6000000]","(2168, 336289]",...,NaN,9,4,2,0,2,I,BS,0.30,"(-73.196, 44.48118)"
5,044-1-201-000,4659,114-035-14659,9,KILMURRY,CHRISTOPHER,2 Family,0.11,"(2000, 3000]","(1580.5, 2168]",...,177000.0,10,4,2,1,2,NMU,BS,0.40,"(-73.2154, 44.48502)"
6,045-1-035-000,5597,114-035-15597,344,MARTIN,HANNAH H,2 Family,0.20,"(4000, 6000000]","(1580.5, 2168]",...,241200.0,9,3,3,0,2,RM,BS,0.38,"(-73.2077, 44.4852)"
7,050-1-098-000,7924,114-035-17924,404,RIEHLE,DUNLAP,2 Family,0.40,"(4000, 6000000]","(2168, 336289]",...,NaN,12,6,3,2,2,RH,BS,0.49,"(-73.2034, 44.47788)"
8,044-1-019-000,4484,114-035-14484,31,BEEMAN,JOHN W,2 Family,0.11,"(4000, 6000000]","(2168, 336289]",...,255000.0,11,4,2,1,2,RM,BS,0.30,"(-73.2205, 44.48541)"
9,044-3-237-000,5227,114-035-15227,148,BURNS,CHARLES C,2 Family,0.13,"(4000, 6000000]","(2168, 336289]",...,372500.0,13,8,4,0,2,RM,BS,0.30,"(-73.2094, 44.4847)"
10,049-3-202-000,7519,114-035-17519,175,LATSHAW,RUTH,2 Family,0.31,"(4000, 6000000]","(2168, 336289]",...,480000.0,11,5,3,1,2,RH,BS,0.25,"(-73.2094, 44.47521)"
11,044-4-050-000,5368,114-035-15368,67,DISTEFANO,SAMANTHA D.,2 Family,0.21,"(4000, 6000000]","(1580.5, 2168]",...,315000.0,8,3,2,0,2,RH,BS,0.21,"(-73.2142, 44.48228)"
12,049-1-039-000,6943,114-035-16943,56,SCHOENBECK,LORILEE,2 Family,0.09,"(3000, 4000]","(1580.5, 2168]",...,250000.0,8,4,2,0,2,RH,BS,0.19,"(-73.2176, 44.47369)"
13,054-1-003-000,8763,114-035-18763,526,BERNARD,CATHERINE BARBARA,2 Family,0.08,"(3000, 4000]","(1580.5, 2168]",...,NaN,9,5,2,0,2,RL,BS,0.30,"(-73.2081, 44.46594)"
14,049-4-067-000,7591,114-035-17591,370,ELABD,ELENI,2 Family,0.07,"(3000, 4000]","(1580.5, 2168]",...,NaN,11,4,3,0,2,RM,BS,0.40,"(-73.2115, 44.46968)"
15,044-2-104-000,4966,114-035-14966,45,MARTIN,EDWARD A,2 Family,0.09,"(4000, 6000000]","(1580.5, 2168]",...,NaN,10,5,2,0,2,RH,BS,0.27,"(-73.2154, 44.48161)"
16,039-4-049-000,3864,114-035-13864,38,PRUDENZANO,LORRAINE E,2 Family,0.09,"(2000, 3000]","(1188, 1580.5]",...,NaN,6,4,2,0,2,RM,BS,0.30,"(-73.2135, 44.48726)"
17,046-3-070-000,6833,114-035-16833,440,DOOLEY,HALINA GANGI,2 Family,0.09,"(2000, 3000]","(1188, 1580.5]",...,202000.0,12,2,2,0,2,RL,BS,0.30,"(-73.1873, 44.48694)"
18,044-4-103-000,5421,114-035-15421,226,MARIA,JACQUELINE,2 Family,0.07,"(4000, 6000000]","(2168, 336289]",...,NaN,9,4,2,1,2,RH,BS,0.23,"(-73.2097, 44.48072)"
19,044-1-287-000,4738,114-035-14738,61,BITTNER,JENNIFER L.,2 Family,0.09,"(3000, 4000]","(2168, 336289]",...,338000.0,12,6,2,0,2,RM,BS,0.23,"(-73.2209, 44.48366)"
20,049-4-090-000,7619,114-035-17619,63,63 SPRUCE STREET LLC,NaN,2 Family,0.25,"(4000, 6000000]","(2168, 336289]",...,NaN,10,3,2,0,2,RM,BS,0.30,"(-73.2097, 44.47023)"
21,044-3-101-000,5086,114-035-15086,248,BORIGHT,JONATHAN W,2 Family,0.12,"(2000, 3000]","(1188, 1580.5]",...,222900.0,6,2,2,1,2,NMU,BS,0.30,"(-73.212, 44.48511)"
22,044-1-294-000,4744,114-035-14744,134,THOMAS,SCOTT M,2 Family,0.11,"(3000, 4000]","(1580.5, 2168]",...,NaN,9,3,2,0,2,RM,BS,0.27,"(-73.219, 44.48422)"
23,049-4-217-000,7767,114-035-17767,368,SUITOR,GILBERT R.,2 Family,0.37,"(4000, 6000000]","(2168, 336289]",...,NaN,11,4,2,0,2,RL,BS,0.40,"(-73.2079, 44.46987)"
24,038-4-065-000,3695,114-035-13695,244,PAGE,CHERYL H,2 Family,0.06,"(4000, 6000000]","(1580.5, 2168]",...,NaN,9,4,2,0,2,RM,BS,0.30,"(-73.2249, 44.4881)"
25,049-4-073-000,7602,114-035-17602,20,HOWE,SARAH D.,2 Family,0.11,"(4000, 6000000]","(2168, 336289]",...,NaN,14,6,2,1,2,RM,BS,0.18,"(-73.2116, 44.47052)"
26,049-4-187-000,7731,114-035-17731,325,MOUNT,DAVID W,2 Family,0.25,"(4000, 6000000]","(2168, 336289]",...,NaN,13,5,3,0,2,RL,BS,0.30,"(-73.209, 44.47088)"
27,044-3-260-000,5248,114-035-15248,86,LECLAIR,GERALD,2 Family,0.18,"(4000, 6000000]","(2168, 336289]",...,NaN,10,4,2,0,2,RM,BS,0.40,"(-73.2108, 44.48302)"
28,049-4-020-000,7544,114-035-17544,52,HEBELER,SUZANNE M,2 Family,0.06,"(2000, 3000]","(1188, 1580.5]",...,170000.0,7,2,2,0,2,RM,BS,0.40,"(-73.213, 44.4692)"
29,053-3-068-000,8434,114-035-18434,105,HALL,NEVILLE J,2 Family,0.17,"(3000, 4000]","(1580.5, 2168]",...,277000.0,9,4,3,0,2,RL,BS,0.20,"(-73.2109, 44.46697)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9480,044-3-023-000,5020,114-035-15020,219,LEBEAU,WILLIAM J,1 Family,0.09,"(2000, 3000]","(1188, 1580.5]",...,NaN,5,3,1,1,1,RM,C,0.00,"(-73.2144, 44.48671)"
9481,056-2-005-000,11038,114-035-21038,16,LISAIUS,JOSEPH D,1 Family,0.99,"(4000, 6000000]","(2168, 336289]",...,NaN,9,3,3,1,1,RLW,C,0.00,"(-73.2319, 44.45105)"
9482,056-2-003-000,11037,114-035-52382,15,REITER,CHRISTINA,1 Family,0.45,"(4000, 6000000]","(2168, 336289]",...,NaN,5,3,4,0,1,RLW,C,0.00,"(-73.2304, 44.45129)"
9483,005-3-002-000,11061,114-035-52451,84,WILLIAMS,KIRK LOUIS,1 Family,0.19,"(3000, 4000]","(1580.5, 2168]",...,NaN,5,2,2,0,2,RL,P,0.05,"(-73.1831, 44.48777)"
9484,050-4-025-000,8178,114-035-18178,401,GOLDSMITH JR,JOHN GRAHAM,1 Family,0.28,"(3000, 4000]","(2168, 336289]",...,210000.0,8,3,3,1,1,RL,C,0.00,"(-73.2008, 44.46917)"
9485,025-2-059-000,1294,114-035-11294,38,MARCELLE,CHRISTOPHER,1 Family,0.20,"(3000, 4000]","(1580.5, 2168]",...,330000.0,6,3,2,2,1,RL,C,0.00,"(-73.2433, 44.51574)"
9486,020-4-001-000,11089,114-035-52626,3119,BROWN,LAWRENCE F,1 Family,0.18,"(4000, 6000000]","(2168, 336289]",...,NaN,7,3,3,0,1,RLW,S,0.19,"(-73.2725, 44.52642)"
9487,030-3-016-000,3142,114-035-13142,367,GILLMAN,BROOKE H,1 Family,0.86,"(4000, 6000000]","(2168, 336289]",...,NaN,8,3,4,0,2,RLW,C,0.00,"(-73.272, 44.50368)"
9488,031-1-002-000,3173,114-035-13173,183,LANGEVIN,HELENE M,1 Family,0.79,"(4000, 6000000]","(2168, 336289]",...,NaN,13,5,4,0,1,RLW,C,0.00,"(-73.2658, 44.50469)"
9489,021-1-006-000,45,114-035-10045,57,LAFRAMBOISE,PAULINE D,1 Family,0.26,"(2000, 3000]","(0, 1188]",...,NaN,4,2,1,0,1,RLW,S,0.01,"(-73.2716, 44.52802)"
9490,028-2-062-000,2212,114-035-12212,27,GINTOFF,BLAKE M,1 Family,0.21,"(3000, 4000]","(1580.5, 2168]",...,270000.0,7,3,2,1,1,RL,C,0.00,"(-73.259, 44.50763)"
9491,026-4-005-000,1397,114-035-11397,88,BONITA FERRO REVOCABLE LIVING,NaN,1 Family,0.32,"(4000, 6000000]","(2168, 336289]",...,699000.0,11,3,2,1,1,RLW,C,0.02,"(-73.2758, 44.50508)"
9492,026-4-011-000,1403,114-035-11403,52,CASEY,SHANNON,1 Family,0.43,"(4000, 6000000]","(2168, 336289]",...,790000.0,5,1,3,0,1,RLW,C,0.10,"(-73.2767, 44.50628)"
9493,021-4-001-000,288,114-035-10288,40,ANDERSON,KAREN J,1 Family,0.30,"(4000, 6000000]","(1580.5, 2168]",...,NaN,7,3,3,0,1,RCOC,C,0.04,"(-73.2647, 44.52372)"
9494,053-3-068-001,8435,114-035-18435,101,AHMED,GRACE C,1 Family,0.17,"(4000, 6000000]","(1580.5, 2168]",...,NaN,6,3,2,1,1,RL,C,0.00,"(-73.2111, 44.46696)"
9495,027-2-009-000,1546,114-035-11546,214,MAHONEY,WILLIAM,1 Family,0.36,"(4000, 6000000]","(2168, 336289]",...,NaN,8,3,2,1,1,RLW,C,0.00,"(-73.267, 44.50552)"
9496,046-3-125-000,10910,114-035-20910,366,BITTERSWEET TRUST,NaN,1 Family,0.23,"(3000, 4000]","(2168, 336289]",...,447165.0,8,4,2,1,1,RL,C,0.00,"(-73.1878, 44.48485)"
9497,046-3-126-000,11096,114-035-52649,370,DETTRE,THOMAS C.,1 Family,0.19,"(4000, 6000000]","(2168, 336289]",...,469408.0,8,4,3,2,1,RL,C,0.00,NaN
9498,027-2-008-000,1545,114-035-11545,198,MITCHELL,CHRISTOPHER J.,1 Family,0.35,"(4000, 6000000]","(2168, 336289]",...,130000.0,12,4,4,1,1,RLW,C,0.00,"(-73.2666, 44.50553)"
9499,057-4-121-000,9874,114-035-19874,126,SMITH,JEFFREY R,1 Family,0.18,"(3000, 4000]","(1580.5, 2168]",...,NaN,8,4,2,1,1,RL,C,0.07,"(-73.2121, 44.45452)"
9500,044-2-037-000,4898,114-035-14898,80,"80 SHERMAN STREET, LLC",NaN,1 Family,0.07,"(2000, 3000]","(1188, 1580.5]",...,NaN,6,2,1,1,1,RM,C,0.00,"(-73.2184, 44.48223)"
9501,024-1-051-000,582,114-035-52727,5,LAMBERT,CHAD,1 Family,0.21,"(3000, 4000]","(1580.5, 2168]",...,NaN,7,3,2,1,1,RL,C,0.00,"(-73.2569, 44.5208)"
9502,044-2-036-000,4897,114-035-14897,78,"78 SHERMAN STREET, LLC",NaN,1 Family,0.07,"(2000, 3000]","(1188, 1580.5]",...,134900.0,6,2,1,1,1,RM,C,0.00,"(-73.2185, 44.48223)"
9503,027-4-091-000,11205,114-035-52786,75,NGUYEN,TRANG,1 Family,0.13,"(3000, 4000]","(1580.5, 2168]",...,150000.0,6,3,2,1,1,RLW,C,0.00,NaN
9504,027-3-181-000,11208,114-035-52789,99,MONTROSS,JOHN L.,1 Family,0.13,"(4000, 6000000]","(1580.5, 2168]",...,447295.0,6,2,2,0,0,RLW,C,0.00,NaN
9505,058-2-001-000,10089,114-035-20089,115,SINGH,RANJIT,1 Family,0.31,"(4000, 6000000]","(2168, 336289]",...,30000.0,7,4,3,1,2,RL,C,0.00,"(-73.202, 44.45505)"
9506,043-3-004-000,4230,114-035-14230,11,DEL PIERO,DAVID,1 Family,0.04,"(3000, 4000]","(2168, 336289]",...,125000.0,6,2,3,1,1,RM,C,0.35,"(-73.2235, 44.48409)"
9507,027-4-082-000,11196,114-035-52778,22,SNYDER CONSTRUCTION CO. LLC,NaN,1 Family,0.22,"(4000, 6000000]","(1580.5, 2168]",...,150000.0,7,2,1,1,1,RLW,C,0.00,NaN
9508,027-4-093-000,11207,114-035-52788,91,VACHEREAU,KENNETH P.,1 Family,0.13,"(3000, 4000]","(1580.5, 2168]",...,429410.0,6,3,2,1,1,RLW,C,0.00,NaN
9509,027-4-086-000,11200,114-035-52781,37,SUPERAK,PETER A.,1 Family,0.20,"(4000, 6000000]","(2168, 336289]",...,487615.0,8,3,2,1,1,RLW,C,0.00,NaN

Return a boolean same-sized object indicating if the values are null.  Not sure it is going to work

In [70]:
propertyreplace = property.replace(6416,23)

Replace values: e.g. replace 6416 with 23 for the whole dataset (the dimension doesn’t change)

In [34]:
property['TotalGrossArea'] = pd.cut(property['TotalGrossArea'],[0,2000,3000,4000,6000000])

Take a colum and bin them on a range, returns (low,high) in the same cell in this case

In [71]:
np.percentile(property['FinishedArea'],50)

1580.5

returns the value for a percentile of a given column

In [79]:
q0,q25,q50,q75,q100 = np.percentile(property['FinishedArea'],[0,25,50,75,100])
q25
qrep = np.percentile(property['FinishedArea'],[0,25,50,75,100])
qrep
property['FinishedArea'] = pd.cut(property['FinishedArea'],qrep)

TypeError: unorderable types: str() > float()

returning multiple percentiles and storing them in the miltiple values automatially

In [86]:
propertyrename = property.rename(columns={"AccountNumber":"AccntNum","StreetNumber":"StreetNum"})

rename multiple columns headernames

In [ ]:
pd.merge(set1,set2,on=proper)

test = pd.merge(dfLeft, dfRight, left_index=True, right_index=True, left_on='cusip', right_on='idc__id', how = 'inner')

In [ ]:
train_X.corr()['Survived']

# Plot distributions of Age of passangers who survived or did not survive
#sns.( train_df , var = 'Age' , target = 'Survived' , row = 'Sex' )
# sns.distplot(train_df['Fare']);
# sns.distplot(train_df['Age']);


# train_df.Age[train_df.Survived == 1].plot(kind='kde') 

g = sns.FacetGrid(train_df, col="Sex", row="Survived", margin_titles=True)
g.map(plt.hist,"Age",color="lightblue")
plt.show()

sns.distplot(train_df.Age[train_df.Survived == 1], hist=False, rug=True)
sns.distplot(train_df.Age[train_df.Survived == 0], hist=False, rug=True);
plt.legend(("Survived", "Perished"),loc='best')
plt.xlim(0,80)
plt.show()

#sns.boxplot(x="Sex", y="Age", hue="Survived", data=tips)
#with sns.axes_style("white"):
#    sns.jointplot(x="Fare", y="PClass", kind="hex", color="k");
    
# sns.lmplot(x="Age", y="Pclass", data=train_df, hue="Survived", y_jitter=.1);

train_df.Age[train_df.Survived == 1].plot(kind='kde')    
train_df.Age[train_df.Survived == 0].plot(kind='kde')
plt.legend(('Survived', 'Perished'),loc='best')
plt.xlim(0,80)
plt.show()

train_df.Age[train_df.Pclass == 1].plot(kind='kde')    
train_df.Age[train_df.Pclass == 2].plot(kind='kde')
train_df.Age[train_df.Pclass == 3].plot(kind='kde')
plt.xlabel("Age") 
plt.xlim(0,80)
plt.title("Age Distribution within classes")
plt.legend(('1st Class', '2nd Class','3rd Class'),loc='best')
plt.show()

# Convert Fare Bins from category to float
#train_df['AgeBin'] = train_df['AgeBin'].astype(float)
#test_df['AgeBin'] = test_df['AgeBin'].astype(float)
# Convert Fare Bins from category to float
#train_df['AgeBin'] = train_df['AgeBin'].astype(float)
#test_df['AgeBin'] = test_df['AgeBin'].astype(float)# Convert Objects to intergers for better comsumption for machine learning
labelEnc=LabelEncoder()

cat_vars=['Embarked','Sex','Title']
for col in cat_vars:
    train_df[col]=labelEnc.fit_transform(train_df[col])
    test_df[col]=labelEnc.fit_transform(test_df[col])