Burlington Data Scientists Meetup
--------
Working Session: Intro to Python, Basic Data Frames and Visualization

April 3, 2017

In [1]:
%matplotlib inline

# Handle table-like data and matrices
import numpy as np
import pandas as pd

# Visualisation
import matplotlib 
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns

In [2]:
wholedf = pd.read_csv('~/Desktop/PythonLearning/Police_Incident_Log.csv')

In [3]:
# Lists the first lines in a dataframe
wholedf.head(10)

,Incident Id,Call Type,Date,Location,Incident Number
0,576,Domestic Disturbance,10/01/2011 07:10:00 PM,Park St,11BU023135
1,584,Traffic,10/01/2011 08:58:00 PM,S Winooski Ave/Bank St,11BU023143
2,586,Intoxication,10/01/2011 09:13:00 PM,Pearl St,11BU023145
3,587,Noise,10/01/2011 09:25:00 PM,No Willard St,11BU023146
4,591,Noise,10/01/2011 10:03:00 PM,Peru St,11BU023150
5,592,Traffic,10/01/2011 10:32:00 PM,Pine St/Locust St,11BU023151
6,595,Intoxication,10/01/2011 10:53:00 PM,Colchester Ave,11BU023154
7,599,Traffic,10/01/2011 11:40:00 PM,S Winooski Ave/Bank St,11BU023158
8,602,Noise,10/02/2011 12:02:00 AM,North St/N Winooski Ave,11BU023161
9,603,Assault - Simple,10/02/2011 12:10:00 AM,Converse Ct,11BU023162

In [4]:
# Lists the last rows in a dataframe
wholedf.tail(10)

,Incident Id,Call Type,Date,Location,Incident Number
28823,159162,Stolen Vehicle,09/18/2013 12:50:00 PM,S Winooski Ave,13BU025009
28824,160945,Trespass,09/21/2013 01:59:00 PM,Pearl St,13BU025379
28825,161280,Noise,09/22/2013 04:09:00 AM,S Union St,13BU025467
28826,164261,Noise,09/27/2013 10:58:00 PM,S Union St/Kingsland Terr,13BU026061
28827,165840,Vandalism,10/01/2013 08:44:00 AM,Lakeside Ave,13BU026395
28828,169204,Domestic Disturbance,10/07/2013 03:26:00 PM,Church St/King St,13BU027107
28829,173283,Ordinance Violation - Other,10/15/2013 05:14:00 PM,Shelburne Rd,13BU027957
28830,177985,Noise,10/25/2013 01:40:00 AM,College St,13BU028878
28831,180001,Larceny - from Building,10/29/2013 02:08:00 PM,N Union St,13BU029253
28832,186525,Larceny - from Building,11/12/2013 02:35:00 PM,N Winooski Ave,13BU030503

In [5]:
# List out all the columns 
list(wholedf)

['Incident Id', 'Call Type', 'Date', 'Location', 'Incident Number']

In [6]:
# Lists summary info of datafram including count of non-null elements, data type, memory useage and range index
wholedf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28833 entries, 0 to 28832
Data columns (total 5 columns):
Incident Id        28833 non-null int64
Call Type          28833 non-null object
Date               28833 non-null object
Location           28813 non-null object
Incident Number    28833 non-null object
dtypes: int64(1), object(4)
memory usage: 1.1+ MB

In [31]:
# Returns a count of not null elements in each column (much like df.info)
wholedf.count()

# Returns a list of numerical columns with total sum
wholedf.sum()

# Returns a list of numerical columns with standard deviation
wholedf.std()

# Returns a list of numerical columns with mean
wholedf.mean()

# Returns a list of numerical columns with median
wholedf.median()

# Returns the min for any float or int64
wholedf.min()

# Returns the max for any float or int64
wholedf.max()

# Mathmatical description and statistics of all numerical columns
wholedf.describe()

         Incident Id
count   28833.000000
mean    68692.982797
std     59495.371755
min       576.000000
25%     17939.000000
50%     47241.000000
75%    112475.000000
max    207844.000000

In [18]:
wholedf['Call Type'].value_counts()

Traffic                        11747
Noise                           3422
Intoxication                    2640
Trespass                        2616
Ordinance Violation - Other     1768
Domestic Disturbance            1429
Mental Health Issue             1225
Vandalism                       1222
Burglary                         872
Larceny - from Building          854
Assault - Simple                 484
Stolen Vehicle                   154
Domestic Assault - Misd          118
Assault - Aggravated              82
Robbery                           67
Larceny from a Person             53
Airport AOA Violation             46
Alcohol Offense                   32
Inciting a Felony                  2
Name: Call Type, dtype: int64

In [11]:
test = wholedf.isnull()
test.head(5)

  Incident Id Call Type   Date Location Incident Number
0       False     False  False    False           False
1       False     False  False    False           False
2       False     False  False    False           False
3       False     False  False    False           False
4       False     False  False    False           False

In [15]:
wholedf.isnull().sum()

Incident Id         0
Call Type           0
Date                0
Location           20
Incident Number     0
dtype: int64

In [16]:
wholedf.notnull().sum()

Incident Id        28833
Call Type          28833
Date               28833
Location           28813
Incident Number    28833
dtype: int64

In [9]:
# A subdf is used in case perimeters need to be changed
subdf = wholedf
locchurchdf = subdf[(subdf['Location'] == "church st")]
locmaindf = subdf[(subdf['Location'] == "main st")]

NameError: name 'df' is not defined

In [21]:
countviolationdf = wholedf[['Call Type', 'Date']].groupby(['Call Type'], as_index=False).count().sort_values(by='Date',ascending=0)
countviolationdf.columns = ['Type','Count']
countviolationdf['Total']= countviolationdf['Count'].sum()
countviolationdf['Percentage'] = countviolationdf['Count'] / countviolationdf['Total']
countviolationdf.head(15)

                           Type  Count  Total  Percentage
16                      Traffic  11747  28833    0.407415
12                        Noise   3422  28833    0.118683
8                  Intoxication   2640  28833    0.091562
17                     Trespass   2616  28833    0.090729
13  Ordinance Violation - Other   1768  28833    0.061319
6          Domestic Disturbance   1429  28833    0.049561
11          Mental Health Issue   1225  28833    0.042486
18                    Vandalism   1222  28833    0.042382
4                      Burglary    872  28833    0.030243
9       Larceny - from Building    854  28833    0.029619
3              Assault - Simple    484  28833    0.016786
15               Stolen Vehicle    154  28833    0.005341
5       Domestic Assault - Misd    118  28833    0.004093
2          Assault - Aggravated     82  28833    0.002844
14                      Robbery     67  28833    0.002324

In [17]:
pd.unique(wholedf.Location)

array(['Park St', 'S Winooski Ave/Bank St', 'Pearl St', ...,
       'Summer St/Front St', 'Intervale', 'Pine Pl/St Paul St'], dtype=object)

In [ ]:
# make all location lower case
wholedf.Location = wholedf.Location.str.lower()

# Split it into two parts
wholedf['Street1'], wholedf['Street2'] = wholedf['Location'].str.split('/', 1).str

# Remove trailing spaces from string
wholedf['Street1'] = wholedf.Street1.str.rstrip()
wholedf['Street2'] = wholedf.Street2.str.rstrip()

In [ ]:
# Convert Date to datetime value and Split date out into seperate date and time only
wholedf['Date'] = pd.to_datetime(wholedf['Date'])
wholedf['timeonly'],wholedf['dateonly']= wholedf['Date'].apply(lambda x:x.time()), wholedf['Date'].apply(lambda x:x.date())
wholedf.head(5)

In [7]:
#wholedf.Location.str.len()

In [22]:
sns.countplot(y="Call Type", data=wholedf, order=countviolationdf['Type'], palette="Blues_r")
plt.title("Total Count Per Violation")
plt.show()

NameError: name 'sns' is not defined

In [ ]:
%timeit [column for column in wholedf]

In [ ]:
%timeit wholedf.columns.values.tolist()

In [ ]:
% timeit list(wholedf.columns.values)

In [ ]:
%timeit list(wholedf)